# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data and models (never upload raw data)
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# Mac
.DS_Store

# Logs
*.log
