# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data and models (never upload raw data)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep


# Mac
.DS_Store

# models
models/*
!models/.gitkeep

# local warehouse
warehouse/*.duckdb

# Logs
*.log
