annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
black==26.1.0
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
duckdb==1.4.4
exceptiongroup==1.3.1
fastapi==0.128.8
fonttools==4.61.1
h11==0.16.0
idna==3.11
iniconfig==2.3.0
joblib==1.5.3
kiwisolver==1.4.9
matplotlib==3.10.8
mypy_extensions==1.1.0
numpy==2.2.6
packaging==26.0
pandas==2.3.3
pathspec==1.0.4
pillow==12.1.1
platformdirs==4.5.1
pluggy==1.6.0
pyarrow==23.0.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytz==2025.2
ruff==0.15.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
starlette==0.52.1
threadpoolctl==3.6.0
tomli==2.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.40.0
